.container form {
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: #bfc1c0 3px 3px 6px 0px inset, #bfc1c0 -3px -3px 6px 1px inset;
}

.container input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.container li {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.container form > button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 10%;
  color: rgb(254, 254, 254);
  background-color: rgb(255, 255, 255);
 }


.container li > button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 10px;
  height: 10px;
  color:rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(250, 250, 250);
 }

