
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container section {
  padding: 0px 22px;
  
}

.container > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container section > img {
  width: 25%;
  min-width: 460px;
  margin-top: 100px;
}

.splash {
  height: 91vh;
  justify-content: center;
}

.about {
  height: 430px;
  background-color: white;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.15);
}

.about header {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 50px 0px;
  align-items: center;
  flex-direction: column;
  
}

.about article {
  width: 100%;
  max-width: 1000px;
}

.about article p {
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
}

.container section > header * {
  margin: 0px;
  font-weight: 600;
  
}

.container section > header h1 {
  margin: 5px;
  font-size: 36px;
  letter-spacing: 2px;
}

.container section > header h3 {
  font-size: 16px;
  color: #34b77a;
}

.container article header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
}

.container footer {
  margin: 0;
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer {
  padding: 20px 0px;
  display: flex;
  background: white;
  background: #000000;
  justify-content: center;
  color:  rgb(220, 220, 220);
  border-top: 1px solid rgb(220, 220, 220);
  opacity: 80%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}