.container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  color: #000000;
  width: 100%;
  height: 1000px;
  align-self: center; 
}

.container button:hover {
  color: #338a68;
}

.container button {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 11px 0px 0px 0px;
  background-color: white;
}

.container input,
button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #fffffff4;
}

.container section:first-child {
  border-radius: 5px;
  margin-top: 200px;
  margin-bottom: 200px;
  box-shadow: rgba(0, 24, 8, 0.35) 0px 5px 15px;
  border: 0px solid #ffffff13;
}

.container section {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: 20px 0px 24px 0px;
}