.container {
  padding: 10px;
  align-items: left;
  border-radius: 35px;
  background-color: rgb(255, 255, 255);
  box-shadow: #bfc1c0 3px 3px 6px 0px inset, #bfc1c0 -3px -3px 6px 1px inset;
}


.container button {
  margin-top: 20px;
}

