.container section > img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--background);
  border:3px solid green; padding: 6px ;

}

.container {
  background-color: aliceblue;
  border-radius: 20px;
}