
.container * {
  z-index: 1;
}

.container::after {
  opacity: 80%;
  content: '';
  position: fixed;
  margin-top: 300px;
  top: 0;
  left: 0;
  z-index: 0;
  width: 400%;
  height: 80%;
  background-color: rgb(255, 255, 255);
}


.container img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--background);
  border: 3px solid #ffffff;
  padding: 6px;
}

.container button {
  display: flex;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 11px 0px 0px 0px;
  background-color: #ffffff;
  width: 150px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.container li>button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 11px 0px 0px 0px;
  margin-left: 20px;
  background-color: #ffffff;
  width: 150px;
  height: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 20px;
  align-items: center;
  margin-top: -30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #000000;
  width: 100%;
  margin-top: 170px;
}

.container h1 {
  margin-left: 40px;
  margin-top: 40px;
  justify-content: center;
  align-content: center;
}


.container li {
  list-style: none;
  align-items: center;
  margin: 20px;
}

.container li:before {
  color: rgb(10, 136, 73);
  content: "\25bd \0020";
  margin-right: 8px;
}

.container h3 {
  color: #000000;
}

.container h2 {
  margin-left: 20px;
  margin: 20px;
}

.container button:hover {
  color: #338a68;
}