.container section > img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--background);
  /* border:3px solid #008000; padding: 6px ; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 280px;
  margin: auto;
  background: radial-gradient(circle, rgba(172,226,153,0.9280007102272727) 0%, rgba(11,31,2,1) 94%);
  opacity: 90%;
  border-radius: 20px;
}