.container {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  color: #000000;
  width: 100%;
  height: 1000px;
  align-self: center; 
  color: rgb(0, 0, 0);
}


.container button {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 11px 0px 0px 0px;
  box-shadow: rgba(0, 24, 8, 0.35) 0px 5px 15px;
  border: 0px solid #ffffff13;
  background-color: white;
}

.container button:hover {
  color: #338a68;
}

.container input,
button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #fffffff4;
  box-shadow: rgba(0, 24, 8, 0.35) 0px 5px 15px;
  border: 0px solid #ffffff13;
  background-color: rgb(255, 255, 255);
}


.container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: 20px 0px 24px 0px;
}

h1 {
  display: flex;
  margin-top: 100px;
  margin-left: 20px;
  justify-content: center;
}

button {
  color: aliceblue;
  }