.container * {
  z-index: 5;
  /* overflow: hidden; */
}

.container::before {
  opacity: 80%;
  /* content: ''; */
  position: fixed;
  /* margin-top: 300px; */
  top: 0;
  left: 0;
  z-index: 0;
  width: 40%;
  height: 80%;
  background-color: rgb(255, 255, 255);
}


.container input {
  margin: 25px;
  border-radius: 5px;
  padding: 5px;
}

.container label {
  display: flex;
  justify-content: center;
}

.container form > button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 90px;
}

.container h2 {
  display: flex;

  margin-top: -35px;
  justify-content: center;
}

.container {
  padding: 30px;
  margin: 30px;
  border-radius: 8px;
  width: 300px;
}

.container button {
  background-color: rgb(10, 136, 73);
  font-weight: 600;
  margin-left: 30px;
  padding: 5px;
  border: none;
  width: 100px;
  height: 30px;
  color: rgb(255, 255, 255);
}

.container form {
  display: flex;
  flex-direction:column;
  justify-content: center;
}
