.container {
  display: flex;
  justify-content: center;
}

.container button{
  background-color:rgb(10, 136, 73);
  font-weight: 600;
  padding:5px;
  border: none;
  width: 100px;
  height: 30px;
  color: rgb(255, 255, 255);
}

.container input{
  margin: 5px;
}

.container main {
  margin: 20px;
}

.container h2  {
  display: flex;
  margin-top: 90px;

}

.container article {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.container header{
  justify-content: center;
}

.container h4  {
  display: flex;
  margin-top: 90px;
  
}